autopep8==1.7.0
cycler==0.11.0
fonttools==4.37.1
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.5.3
numpy==1.23.2
packaging==21.3
pandas==1.4.4
Pillow==9.2.0
pycodestyle==2.9.1
pygame==2.1.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
scikit-learn==1.1.3
scipy==1.9.1
six==1.16.0
sklearn==0.0.post1
threadpoolctl==3.1.0
tk==0.1.0
toml==0.10.2
